<div  class="row justify-content-center">
    <div  class="col-8 text-center">
        <h1>Peliculas</h1>
        <div *ngIf="Peliculas">
            <table>
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Foto</th>
                        <th>Fecha Estreno</th>
                        <th>Director</th>
                        <th>Youtube</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let peli of Peliculas">
                        <td>{{peli.titulo}}</td>
                        <td><img width="100px" src="{{peli.foto}}" alt="jugador"/></td>
                        <td>{{peli.fechaEstreno}}</td>
                        <td>{{peli.director}}</td>
                        <td>{{peli.youTube}}</td>
                        <!-- <td><button (click)="cargarDetalles(peli)">Detalles</button></td> -->
                        
                        <td><button  [routerLink]="['/pelicula',peli.idPelicula]">Detalles</button></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf="pelicula">
<app-detallespelicula [peli]="pelicula" ]></app-detallespelicula>
</div>